<script type='text/javascript'>
    $(document).ready(function() {
         $('.carousel').carousel({
             interval: 4000,
             cycle: true
         })
    });

</script>


<div id="splash-carousel" class="carousel slide carousel-fade" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner" data-interval="4000">
    <div class="item active">
      <%= image_tag("mounthouse.jpg", :alt => "home") %>
      <div class="carousel-caption">
        <h2>TRAVEL BOLDLY</h2>
        <h3>airbnb for the adventurous</h3>
      </div>
    </div>
    <div class="item">
      <%= image_tag("treehouse.jpg", :alt => "home") %>
      <div class="carousel-caption">
        <h2>TRAVEL BOLDLY</h2>
        <h3>airbnb for the adventurous</h3>
      </div>
    </div>
    <div class="item">
      <%= image_tag("alaska.jpg", :alt => "home") %>
      <div class="carousel-caption">
        <h2>TRAVEL BOLDLY</h2>
        <h3>airbnb for the adventurous</h3>
      </div>
    </div>
    <div class="item">
      <%= image_tag("home1.jpg", :alt => "home") %>
      <div class="carousel-caption">
        <h2>TRAVEL BOLDLY</h2>
        <h3>airbnb for the adventurous</h3>
      </div>
    </div>
    <div class="item">
      <%= image_tag("huts.jpg", :alt => "home") %>
      <div class="carousel-caption">
        <h2>TRAVEL BOLDLY</h2>
        <h3>airbnb for the adventurous</h3>
      </div>
    </div>
    <div class="item">
      <%= image_tag("tents.jpg", :alt => "home", :class => "tents") %>
      <div class="carousel-caption">
        <h2>TRAVEL BOLDLY</h2>
        <h3>airbnb for the adventurous</h3>
      </div>
    </div>

  </div>


</div> <!-- Carousel -->
