

<nav class="navbar navbar-fixed-top logged-in">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">darebnb</a>
    </div>

    <% if user_signed_in? == false %>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <%= link_to "sign up", "#signup", "data-toggle" => "modal", :class => 'btn sign-in-link' %>
        <%= link_to "login", "#login", "data-toggle" => "modal", :class => 'btn sign-in-link' %>
    </div>
    <% else %>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <%= link_to "host", "#", "data-toggle" => "modal", :class => 'btn sign-in-link' %>
        <%= link_to "adventure", "#", "data-toggle" => "modal", :class => 'btn sign-in-link' %>
       <%= link_to('logout', destroy_user_session_path, :method => :delete, :class => 'btn sign-in-link') %>  
    </div>
    <% end %>
  </div>
</nav>
